<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"  ng-show="state=='init'">Top 20 askers in {{repository}} REPOSITORY</h3>
                    <h3 class="panel-title" ng-show="state=='details'">User Information in {{repository}} REPOSITORY</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" ng-show="state=='init'||state=='details'">
                        <input type="text" class="form-control" placeholder="Input User Name here and then enter" ng-model="UserNameText" ng-keypress="UserNameText_keypress($event)" >
                    </div>
                    <div ng-show="state=='search'">Querying..., please wait for a moment :)</div>
                    <div class="list-group" style="font-size:140%;">
                        <div ng-repeat="profile in user_profiles">
                            <div class="list-group-item">
                                <div class="row-action-primary">
                                    <i class="mdi-file-folder"></i>
                                </div>
                                <div class="row-content">
                                    <h4 class="list-group-item-heading">{{profile.display_name}}</h4>
                                    <p class="list-group-item-text">Platform: <span ng-repeat="tag in profile.platform_tags" class="post-tag">{{tag.name}}</span></p>
                                    <p class="list-group-item-text">Language: <span ng-repeat="tag in profile.language_tags" class="post-tag">{{tag.name}}</span></p>
                                    <p class="list-group-item-text">Month: <b style="color:red">{{profile.month}}</b> - Asked <b>{{profile.asked}}</b> questions, <b style="color:green">{{profile.answered}}</b> of them are answered</p>
                                    <div>
                                        <span ng-repeat="tag in profile.other_tags"
                                              class="post-tag">{{tag.name}}*{{tag.count}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-separator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
