<div>
    <div class="form-group">
        <div ng-show="state=='load'">Loading...</div>
        <div ng-show="state=='done'">
            <div>
                <h4>{{item.Title}}</h4>           
            </div>
            
            <div style="font-size:140%;margin:10px 0 10px 0px;">
                <span class="label label-primary" ng-repeat="tag in item.Tags" style="margin-right:5px;">{{tag}}</span>
            </div>
            <div class="form-group">
                <input style="width:400px;" type="text" class="form-control" placeholder="Add tag and then enter" ng-model="TagText" ng-keypress="TagText_keypress($event)">
            </div>
            <div class="form-group">
                <select class="form-control" 
                        style="width:200px;float:left;"
                        ng-model="model.categorySelect"
                        >
                    <option value="-1"> -- category --</option>
                    <option ng-repeat="option in data.categories" value="{{option.index}}">{{option.name}}</option>
                </select>
                <select class="form-control" 
                        style="width:200px;"
                        ng-model="model.typeSelect"
                        ng-change="typeSelectChange()"
                        >
                    <option value="-1"> -- type --</option>
                    <option ng-repeat="option in data.typeGroups[model.categorySelect]" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-material-deep-purple" aria-label="BACK" ng-click="back()">            
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            BACK
        </button>
    </div>
</div>