<div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('UWP');">
        <h1>Universal Windows Platfrom</h1>
        <p>Windows 10 introduces the Universal Windows Platform (UWP), which further evolves the Windows Runtime model and brings it into the Windows 10 unified core. As part of the core, the UWP now provides a common app platform available on every device that runs Windows 10.</p>
    </div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('OFFICE');">
        <h1>Microsoft Office</h1>
        <p>From home to business, from desktop to web and the devices in between, Office delivers the tools to get work done.</p>
    </div>
</div>