<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{repository}} REPOSITORY</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group" ng-repeat="group in filter.tag.groups">
                            <label class="col-lg-2 control-label">{{group.name}}</label>
                            <div class="col-lg-10">
                                <select ng-model="selection[group.name]"
                                        ng-change="selection_value_changed(group.name, selection)"
                                        class="form-control">
                                    <option ng-repeat="tag in group.tags" value="{{tag.value}}">{{tag.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tags selected</label>
                            <div class="col-lg-10">
                                <span ng-repeat="tag in filter.tag.selected"
                                      class="post-tag"
                                      ng-click="remove_tag_from_filter(tag)">{{tag}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Related tags</label>
                            <div class="col-lg-10">
                                <div ng-repeat="tag in filter.tag.related" style="display:inline-block;">
                                    <span class="post-tag"
                                          ng-click="add_tag_to_filter(tag.name)">{{tag.name}}x{{tag.freq}}</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>       
        </div>
    </div>
    <div>
        <div>
            <div ng-repeat="profile in threadProfiles">
                <div class="summary">
                    <h3>
                        <a ng-href="{{profile.url}}" target="_blank">{{profile.title}}</a>
                    </h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Category</label>
                            <div class="col-lg-10">
                                <span class="form-control">{{profile.category}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Type</label>
                            <div class="col-lg-10">
                                <span class="form-control">{{profile.type}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Excerpt</label>
                            <div class="col-lg-10">
                                <span>{{profile.excerpt}}...</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div ng-repeat="tag in profile.tags" style="display:inline-block;">
                            <span class="post-tag">{{tag}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>